.Head {
  display: flex;
  flex-direction: column;
}

.Head-place {
  height: 80px;
  background: #f5f5f5;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
}

.Head-login {
  margin: 10px 20px;
  align-self: flex-end;
}

.Head-login div {
  display: flex;
}

.Head-login button {
  margin-left: 20px;
}

.Head-place div{
  margin: 0 5px;
}

.Head h1 {
  margin: 0;
  padding: 20px 0px 10px;
}
